@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* styling för header */
header {
    background-color: rgb(27, 26, 26);
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: white;
    padding-left: 3rem;
    font-family: 'Roboto', sans-serif;
}

.fa-solid {
    color: white;
    font-size: 30px;
    padding-right: 3rem;
}

#bildblock{
    position: relative;
    margin-top: 100px;
    display: flexbox;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;

}
#lgmobil{
    max-width: 20%;
    margin: auto;
}
#lg{

    margin-bottom: 50px;
}

#iphonemobil{
    max-width: 20%;
    margin: auto;
}

#iphone{
    margin-bottom: 50px;
}
#oneplusmobil{
    max-width: 35%;
    margin: auto;
}
#oneplus{
    margin-bottom: 50px;
}
#samsungmobil{
    max-width: 20%;
    margin: auto;
}
#samsung{
    margin-bottom: 50px;
}
