@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*fixed header. But the items scroll above the header. dosent look good*/
.fixed-header{
    top:0;
    width: 100;
    position: fixed;
    /*La till denna för kunna clicka på kundvagn*/
    z-index: 1;
    /* background-color: black; */

}

/* styling för header */
header {
    background-color: rgb(27, 26, 26);
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: white;
    padding-left: 3rem;
    font-family: 'Roboto', sans-serif;
}

.fa-solid {
    color: white;
    font-size: 30px;
    padding-right: 3rem;
}

#bildblock{
    position: relative;
    margin-top: 100px;
    display: flexbox;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

.image{
    width: 200px;
    padding-top: 20px;
}

.description{
    font-size:small;
    padding-top: 20px;
    font-weight: 200;
}

.price{
    font-size: large;
}
.heading{
    font-weight: 100;
}